/.gradle/
/.superpowers/
/dist/
/state.db
/state.db-journal
*.apk
*.aab
*.keystore
*.jks
*.log

/android/.gradle/
/android/local.properties
/android/app/build/
/android/build/
/android/app/google-services.json

/bin/
/tmp/
